@import './smart-grid';
@import './text';


@include reset();

body {
  background: #F6F6F6;
}

.container-def {

}

.container-edit {
  @include rem(margin-top, 32px);
}

.App {
  width: 100%;
  display: flex;
  @include sm-block() {
    flex-direction: column;
  }

}

.main-box {
  display: flex;
}

.row-center {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  flex-wrap: wrap;

  &_img {
    @include rem(margin-right, 16px);
  }
}

.icon {
  &-close {
    @include rem(width, 24px);
    @include rem(height, 24px);
  }

  &-avatar {
    @include rem(width, 72px);
    @include rem(height, 72px);
  }

  &-sort {
    @include rem(width, 16px);
    @include rem(height, 16px);
    @include rem(margin-left, 6px);
  }

  &-sort {
    @include rem(width, 16px);
    @include rem(height, 16px);
  }

  &-dots {
    @include rem(width, 20px);
    @include rem(height, 20px);
  }

  &-edit {
    @include rem(width, 20px);
    @include rem(height, 20px);
    @include rem(margin-right, 6px);
  }

  &-delete {
    @include rem(width, 20px);
    @include rem(height, 20px);
  }
}

.logo {
  @include rem(width, 166px);
  @include rem(height, 40px);
  @include rem(margin-left, 24px);
  @include rem(margin-top, 15px);
  @include rem(margin-bottom, 12px);

}

nav {
  display: flex;
  flex-direction: column;
}

.nav-link {
  @include rem(padding, 16px 24px);
  @include rem(padding-left, 60px);
  background-repeat: no-repeat;
  @include rem(background-size, 24px);
  @include rem(background-position, 24px);
  @include rem(border-left-width, 4px);
  border-left-style: solid;
  border-color: #fff;
  box-sizing: border-box;
  width: 100%;

  &.active {
    background-color: #2CCBCB;
    color: #fff;
    border-left-color: rgba(17, 17, 17, 0.4);
  }

  &-calendar {
    background-image: url("../img/sitebar/calendar.png");

    &.active {
      background-image: url("../img/sitebar/calendar_active.png");
    }
  }

  &-price {
    background-image: url("../img/sitebar/bag.png");

    &.active {
      background-image: url("../img/sitebar/bag_active.png");
    }
  }

  &-store {
    background-image: url("../img/sitebar/warehouse.png");

    &.active {
      background-image: url("../img/sitebar/warehouse_active.png");
    }
  }

  &-patients {
    background-image: url("../img/sitebar/user.png");

    &.active {
      background-image: url("../img/sitebar/user_active.png");
    }
  }

}


.siteBar {
  background-color: #FFFFFF;
  min-height: 100vh;
  overflow: hidden;
  @include rem(width, 256px);

}

.container-main {
  box-sizing: border-box;
  @include rem(padding, 16px 26px);
  width: 100%;

  &-header {
    border-bottom: 1px solid #E0E0E0;
  }

  &-table {
    @include rem(padding-top, 8px);
  }

  &-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_table {
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    @include rem(padding, 18px 24px);
  }
}


.ReactModal__Overlay {
  background-color: transparent !important;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    opacity: 0;
  }

  .modalAdd {
    transform: translateX(100%);
    transition: 0.5s;
  }

}

.select {
  @include rem(width, 364px);
  @include rem(height, 56px);
  display: flex;
  flex-direction: column;

  .css-319lph-ValueContainer {
    @include rem(padding, 0 15px);
  }

  & > div {
    flex-grow: 2;
  }

  .input + & {
    @include rem(margin-top, 16px);
  }
}

.input {

  position: relative;


  & + & {
    @include rem(margin-top, 16px);
  }

  .select + & {
    @include rem(margin-top, 16px);
  }

  &_name {
    position: absolute;
    @include rem(left, 16px);
    @include rem(top, 6px);
  }

  &_in {
    @include rem(width, 364px);
    @include rem(height, 56px);
    @include rem(padding, 15px);
    @include rem(padding-top, 32px);
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.32);
    box-sizing: border-box;
    @include rem(border-radius, 8px);
    outline: none;

    &::placeholder {
      color: rgba(17, 17, 17, 0.2);
    }
  }

  &-mini &_in {
    @include rem(width, 164px);
    @include rem(height, 31px);
    @include rem(padding, 4px 16px);
    @include rem(border-radius, 8px);

    &::placeholder {
      color: rgba(17, 17, 17, 0.5);
      font-weight: 600;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include rem(padding-top, 32px);
}

.ReactModal__Overlay--after-open {
  &:before {
    opacity: 1;
  }

  .modalAdd {
    transform: translateX(0px);
  }
}

.ReactModal__Overlay--before-close {
  &:before {
    opacity: 0;
  }

  .modalAdd {
    transform: translateX(100%);
  }
}

.row-price {
  display: flex;
  align-items: center;
  margin-left: 0 !important;
  margin-top: 1rem !important;

  .input + .input {
    margin-top: 0;
    margin-left: 1rem;
  }
}

.table-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * + * {
    @include rem(margin-left, 11px);
    margin-top: 0 !important;
  }
}

.table-box {
  @include rem(margin-top, 22px);
  border-radius: 8px 8px;
  overflow: hidden;
  border: 1px solid #E0E0E0;
  background-color: #F2F2F2;
}

.table-main {
  width: 100%;

  th {
    @include rem(padding, 12px);
  }

  td {
    @include rem(padding, 10px);
    background-color: #fff;
  }

  tbody tr:not(:first-child) {
    td {
      border-top: 1px solid #E0E0E0;
    }
  }
}

.activity-indicator {
  width: 100%;
  height: 100%;
  min-height: 50px;
  position: relative;
}

.activity-indicator * {
  box-sizing: border-box
}

.activity-indicator > div {
  left: 50%;
  top: 50%;
  width: auto;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
}

.activity-indicator > div > div {
  transition-duration: 0.4s;
}

.profile-btns {
  @include rem(margin-top, 26px);
  @include rem(margin-bottom, 24px);
}

.profile-info {
  display: flex;
  flex-direction: column;

  &_nav {
    @include rem(border-radius, 8px);
    @include rem(margin-bottom, 4px);
    overflow: hidden;
  }

  &_main {
    background-color: #fff;
    min-height: 200px;
    width: 100%;
    @include rem(border-radius, 8px);
    @include rem(padding, 24px);
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;

    .input_in {
      background: #F2F2F2;
      border: none;
      @include rem(width, 440px);
    }

    .select {
      @include rem(width, 440px);

    }

    &_edit {
      @include rem(padding-right, 16px);
    }

    &_fite {
      flex-grow: 1;
      width: 1px;
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 8px;
      @include rem(padding, 24px);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
  }
}

.notes-title {
  @include rem(margin-bottom, 24px);
}

.notes_input {
  @include rem(padding, 16px);
  @include rem(height, 86px);
  @include rem(border-radius, 4px);
  background: #F2F2F2;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.notes-mtitle {
  @include rem(margin-bottom, 8px);
}

.notes_message_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2CCBCB;
  @include rem(margin-top, 15px);
}

.notes_btn {
  display: flex;
  justify-content: space-between;
}

.notes_message {
  margin-top: auto;
}

.btn {
  background: none;
  outline: 0;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;

  &-close {
    display: flex;
    align-items: center;
  }

  &-nav {
    @include rem(padding, 12px 30px);
    background: #FFFFFF;
    color: #111111;
    font-weight: 500;

    &.active {
      color: #fff;
      font-weight: 600;
      background: #2CCBCB;
    }
  }

  &-in {
    @include rem(width, 148px);
    @include rem(height, 40px);
    @include rem(border-radius, 8px);
    background: #9B51E0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &-mini {
      @include rem(width, 182px);
      @include rem(margin-top, 24px);
    }
  }

  &-moreP {
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  &-cansel {
    margin-left: 1rem;
  }


  &-on {
    @include rem(height, 48px);
    @include rem(width, 241px);
    @include rem(border-radius, 12px);
    background-color: #2CCBCB;
    color: #fff;
  }

  &-add {
    background-color: #2CCBCB;
    border-radius: 8px;
    color: #fff;
    @include rem(padding, 4px 12px);
    @include rem(padding-right, 16px);
    @include rem(padding-left, 32px);
    @include rem(background-size, 14px);
    @include rem(background-position, 12px);
    //@include rem(width, 152px);
    @include rem(height, 31px);
    background-image: url("../img/btn/entypo_plus.png");

    &-mini {
      @include rem(width, 92px);
      background-image: none;
      padding: 0;
      @include rem(height, 32px);
    }
  }

  &-remove {
    background-color: #EB5757;
    border-radius: 8px;
    color: #fff;
    box-sizing: border-box;
    @include rem(padding-left, 44px);
    @include rem(background-size, 20px);
    @include rem(background-position, 22px);
    text-align: left;
    font-weight: 600;
    margin-left: auto;
    @include rem(width, 204px);
    @include rem(height, 31px);
    background-image: url("../img/btn/delete_while.png");
  }
}

.profile_box_price {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  @include rem(padding, 15px 21px);
  @include rem(border-radius, 8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile_box_right {
  @include rem(margin-right, 31px);
}

.profile_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overplay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffc7;
  }
}

main {
  width: 1px;
  flex-grow: 1
}

.main {
  width: 30%;
  overflow: hidden;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  @include sm-block() {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}


.btn {

  &-more {
    background-color: #ccc;
    border: none;
    outline: 0;
    @include rem(padding, 12px 16px);
  }
}
